<div class="container">
  <div class="col-md-12">
    <div class="container py-3">
      <div class="title h1 text-center">Fresh Meals at affordable price</div>
      <div class="card">
        <div class="row ">
          <div class="col-md-7 px-3">
            <div class="card-block px-6">
              <h4 class="card-title" style="color: #e75b1e;">{{selectedItem.title}} | ${{selectedItem.price}}</h4>
              <p class="card-text">
                {{selectedItem.description}}
              </p>
              <p class="card-text">It is a long established fact that a reader will be distracted by the readable
                content
                of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less
                normal distribution of letters, as opposed to using 'Content here, content here', making it look like
                readable English.</p>
              <br>
              <a (click)="addToCart()" class="mt-auto btn btn-success">Add to Cart </a>
              <a [routerLink]="['/']" routerLinkActive="router-link-active" class="mt-auto btn btn-warning">Back to
                Home</a>
              <a [routerLink]="['/checkout']" routerLinkActive="router-link-active"
                class="mt-auto btn btn-primary">Checkout</a>
            </div>
          </div>
          <div class="col-md-5">
            <div class="card-image">
              <img class="d-block w-100" [src]="selectedItem.image ? selectedItem.image: altImage " alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</div>
